<div class="list-row">
    <div class="col-md-6">
        <div class="col-md-6">
            <h4>product List</h4>
            <ul>
                <li class="list-group-item" *ngFor="let p of productslist; let i=index"   
                (click)="setCurrentProduct(p,i)">{{i+1}}. {{p.pname}}</li>
            </ul>
        </div>
            <div class="col-md-6">
                <app-productdetails
                [viewMode]="true"
                [sproduct]="'selectedproduct">
                </app-productdetails>
            </div>
    </div>
</div>