<div  class="container bg-secondary col-sm-4" style="border:5px solid black; color:white;border-radius: 5px;">
    <form [formGroup]="rform" (ngsubmit)="submitReg()" >
        <div class="row">
            <label for="fname" style="text-align: center;">first name</label>
            <input type="text" name="fname" id="fname" formControlName="fname">
            <div *ngIf="(!rform.controls.fname?.valid) && (rform.controls.fname?.dirty || rform.controls.fname?.touched)" class="alert alert-danger">
                First Name is required
                <!-- <div [hidden]="!firstname.error?.errors.required"></div> -->
              </div>
        </div>
        <div class="row">
            <label for="lname" style="text-align: center;">last name</label>
            <input type="text" name="lname" id="lname" formControlName="lname"> 
        </div>
        <div class="row" margin-top="10px   ">
            <label for="mail" style="text-align: center;">mail</label>
            <input type="mail" name="mail" id="mail" formControlName="mail"> 
        </div>
        <div >
            <label for="gender" style="text-align: center;">gender</label>&nbsp;&nbsp;
            <input type="radio" name="gender" id="gender" value=" female" formControlName="gender">male &nbsp;&nbsp;
            <input type="radio" name="gender" id="gender" value=" male" formControlName="gender">female
        </div>
        <div >
            <label for="fname" style="text-align: center;">married?</label>&nbsp;&nbsp;
            <input type="radio" name="isMarried" id="isMarried" value="married" formControlName="isMarried">unmarried &nbsp;&nbsp;
            <input type="radio" name="isMarried" id="isMarried" value="unmarried" formControlName="isMarried">married 
        </div>
        <div class="row">
            <label for="city" style="text-align: center;">city</label>
            <input type="text" name="city" id="city" formControlName="city"> 
        </div>
        <div class="row">
            <label for="state" style="text-align: center;">state</label>
            <input type="text" name="state" id="state" formControlName="state"> 
        </div>
        <div class="row">
            <label for="country" style="text-align: center;">country</label>
        </div>
        <div>
            <select id="country" name="country" formControlName="country" style="width:400px;margin-left: auto;margin-right: auto;">
                <option value="1">india</option>
                <option value="1">japan</option>
                <option value="1">usa</option>
                <option value="1">dubai</option>
            </select>
        </div>

        <div style="text-align: center; ">
            <br><br>
            <button style="text-align: center; background-color: blue; color: white;"
            click="submitReg()" [disabled]="!rform.valid">Submit</button>
        </div>

    </form>
</div>

